[submodule "submodule.submodules/jsondata.path"]
	path = submodules/jsondata
	url = ../../GeoMop/JsonData.git
	branch = master
[submodule "submodule.submodules/MLMC.path"]
	path = submodules/MLMC
	url = ../../Geomop/MLMC.git
	branch = MS_endorse
[submodule "submodule.submodules/swrap.path"]
	path = submodules/swrap
	url = ../../flow123d/swrap
	branch = JB_endorse
[submodule "submodules/surrDAMH"]
	path = submodules/surrDAMH
	url = ../../dom0015/surrDAMH.git
	branch = PE_endorse
