# Necessary for development
# TODO: cleanup

pyvista
pyyaml
pyyaml-include==1.4.1   # version 2.x available, fundamental changes
matplotlib
scipy
seaborn
pytest
tox
tox-gh-actions
importlib-resources


attrs # for bgem

# bayes part
ruamel.yaml
pandas
