# Dependencies used just for tests.

attrs
#openpyxl    # excel read
#psutil
#tox
#tox-gh-actions
#importlib-resources
#pytest
#pyOCCT


#PyQt5==5.15.6
#obspy==1.2.2
#pyqtgraph==0.12.3
#pymeshlab==2021.10

