# Remove these once appropriate versions of packages will be made
-e ./submodules/bgem
-e ./submodules/bih
-e ./submodules/redis-cache
-e ./submodules/MLMC

# attrs # in setup.py
# pyvista   # in setup.py
# pyyaml # in setup.py
# pyyaml-include # in setup.py
# matplotlib # in setup.py
# scipy
# seaborn
# importlib-resources # in setup.py
# pandas==1.3.4  # in setup.py
# numpy==1.21.4  # in setup.py
# vtk==9.1.0 # in setup.py

# Testing requirements
pytest
tox
tox-gh-actions

# Review following requirements of GUI
PyQt5==5.15.6
openpyxl==3.0.9
psutil==5.8.0
